<h1>会員登録</h1>
 <%= form_for( @user , url: user_create_path) do |f| %>
    名前:<%= f.text_field :user_name %><br>
    ニックネーム:<%= f.text_field :nick_name %><br>
    生年月日:<%= f.text_field :birthday %><br>
    住所:<%= f.text_field :user_adress %><br>
    メール:<%= f.text_field :email %><br>           
    パスワード:<%= f.text_field :password %><br> 
    確認用パスワード:<%= f.text_field :password_confirmation %><br> 
<%= f.submit "登録" %>
<% end %>