<h1>ユーザーID:<%= @user.id  %>の内容　</h1>
<%# <% if @user.id == @current_user.id %> %>
  <div class="card">
　  <div class="card-body">   
      <h5 class="card-title"><%= @user.user_name %></h5>
      <p class="card-text"><%= @user.nick_name %></p>
      <p class="card-text"><%= @user.birthday %></p>
      <p class="card-text"><%= @user.user_adress %></p>
      <p class="card-text"><%= @user.email %></p>
      <% if @user.user_gender == 1%>
        <p class="card-text">男</p>
      <% else %>
        <p class="card-text">女</p>
      <% end %>
      <p class="card-text"><%= @user.password %></p>
      <p class="card-text"><%= @user.password_confirmation %></p>
      <% if @user.image_name %>
        <p class="card-text"><%= image_tag @user.image_name.url %></p>
      <% end %>
    </div>
  </div>　
  <% link_to("編集", "/users/#{@user.id}/edit") %>
