<h1><%= @user.id  %>投稿内容　</h1>
<div class="card">
　<div class="card-body">   
    <h5 class="card-title"><%= @user.title %></h5>
    <p class="card-text"><%= @user.traveled %></p>
    <p class="card-text"><%= @user.travel_day %></p>
    <p class="card-text"><%= @user.travel_coment %></p>
    <p class="card-text"><%= @user.other_coment %></p>
    <p class="card-text"><%= @user.user_name %></p>
  </div>
</div>　
a